.container {
    display: flex;
}

.sidebar {
    background-color: black;
    width: 10vw;
    height: 100vh;
}

.questions {
    display: flex;
    flex-wrap: wrap; 
    width: calc(100% - 20vw); 
}

.question {
    border: 2px solid black;
    flex: 1 0 45%;
    min-height: 50vh;
    margin-bottom: 1rem;
}
.topbar{
    height: 10vh
}